.container{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  .news{
    // flex-grow: 1;
    background: #cccccc;
    border-radius: 1rem;
    padding: 20px;
    transition: 0.2s;
    margin-right: 1%;
    margin-left: 5px;
    position: relative;
    z-index: 10;
    box-shadow: 5px 15px 5px 0px #cac2c2;
  }
  .graph{
    background: #cccccc;
    border-radius: 1rem;
    padding: 20px;
    transition: 0.2s;
    margin: 27px 14px 20px 4px;
    position: relative;
    z-index: 10;
    box-shadow: 5px 15px 5px 0px #706867;
  }

}
