$contents: "Comments", "Vote Count", "Up Count", "News Details";

.btn{
  cursor: pointer;
}
table {
  display: block;
  width: 100%;
  border-spacing: 0px 11px;
  thead {
    background-color: #9f9090;
  }
  th, td{
    padding: 15px 10px 15px 10px;
    text-align: left;

  }
  tr{
    background-color: white;
    box-shadow: 5px 15px 5px 0px #cac2c2;
  }
  .votearrow{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid black;
  }
  .cont-flex{
    display: flex;
    justify-content: flex-start;
    div{
      margin-left: 2px;
    }
    .grey-small{
      font-size: small;
      color: #4f4b4b;
    }
  }
}

.pagination{
  display: flex;
  justify-content: flex-end;
  .btn{
    color:#7c0606;
    padding: 5px;
  }
  div{
    padding: 5px;
  }
}
.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: none;
}
.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
@media  (min-device-width: 800px) and (max-device-width: 2024px)  {
  table {
    td{
      width: 2%;
    }
    td.last {
      width: 30%;
    }
  }
}
@media  (max-width: 760px) {
  .pagination{
    justify-content: center;
  }
  table {
    display: block;
    thead {
      display: none;
    }
    tbody {
      display: block;
      .cont-flex{
        display: block;
      }
    }
  }

  td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 0px;
    padding-left: 50% !important ;
    &:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 35%;
      padding: 15px 0 15px 1px;
      font-weight: bold;
      white-space: nowrap;
    }
    @each $cont in $contents {
      $i: index($contents, $cont);
      &:nth-of-type(#{$i}) {
        &:before {
          content: $cont;
        }
      }
    }

  }
  tr {
    display: block;
    margin: 0 0 1rem 0;
    &:nth-child(odd) {
      background: #a89898;
    }
  }
}



