<table class="table" *ngIf="dataState === 'loaded' ">
  <thead>
    <tr>
      <th>Comments</th>
      <th>Vote Count</th>
      <th>Up Count</th>
      <th>News Details</th>
    </tr>
  </thead>
  <tbody >
      <tr *ngFor="let item of newsDetails; let i = index; trackBy: trackByItemId">
        <td>{{item.commentsCount}}</td>
        <td>{{item.points}}</td>
        <td>
          <div class="votearrow btn" (click)="addVote(item, i)"></div>
        </td>
        <td class="last">
          <div class="cont-flex">
            <div class="font-weight: bold;">{{item.title}}</div>
            <div class="grey-small">({{item.urldetails.name}})</div>
            <div><span class="grey-small">by</span> {{item.author}}</div>
            <div>{{item.createdAt}}</div>
            <div class="btn" (click)="hide(item, i)">[hide]</div>
          </div>
        </td>
      </tr>
  </tbody>
</table>
<div class="pagination" *ngIf="dataState === 'loaded'">
  <a class="btn" [ngClass]="{'disabled': pageNo < 2}" (click)="prev()">Previous</a>
  <div>|</div>
  <a  class="btn"  (click)="next()">Next</a>
</div>
<div class="loader" *ngIf="dataState === 'loading'"></div>
<div class="empty"  *ngIf="dataState === 'empty'">
  <h2>No Data</h2>
</div>
