<table class="table" *ngIf="dataState === 'loaded' ">
  <thead>
    <tr>
      <th>Comments</th>
      <th>Vote Count</th>
      <th>Up Count</th>
      <th>News Details</th>
    </tr>
  </thead>
  <tbody >
      <tr *ngFor="let item of newsDetails; trackBy: trackByItemId">
        <td>{{item.commentsCount}}</td>
        <td>{{item.points}}</td>
        <td>
          <div class="votearrow btn" (click)="addVote(item)"></div>
        </td>
        <td class="last">
          <div class="cont-flex">
            <div class="flex-start">
              <span class="">{{item.title}}</span>
              <span class="grey-small">({{item.urldetails}})</span>
              <span><span class="grey-small">by</span> {{item.author}}</span>
              <span class="grey-small">{{item.createdAt}}</span>
            </div>
            <div class="btn flex-end" (click)="hide(item)">[hide]</div>
          </div>
        </td>
      </tr>
  </tbody>
</table>
<div class="pagination" *ngIf="dataState === 'loaded'">
  <a class="btn" [ngClass]="{'disabled': pageNo < 2}" (click)="prev()">Previous</a>
  <div>|</div>
  <a  class="btn"  (click)="next()">Next</a>
</div>
<h1 class="loader" *ngIf="dataState === 'loading'">Loading...</h1>
<div class="empty"  *ngIf="dataState === 'empty'">
  <h2>No Data</h2>
</div>
